<!-- <div class="fixed-bottom"> -->

    <div class="container mt-5">

        <div class="dropdown-divider w-50 my-5"></div>

        <img src="assets\imgs\nuevologo.png" class="mb-5" style="width: 150px">

        <div class="font-weight-bold mb-4"> CONTACTO </div> 
        <div class="mb-4"> Correo: <a href="mailto:hipertrofiaconjose@gmail.com" target="_blank" class="enlace">
        hipertrofiaconjose@gmail.com 
        </a>
        </div>

        <div class="mb-4"> 
            Instagram: <a href="https://www.instagram.com/hipertrofiaconjose/" target="_blank" class="enlace">
                @hipertrofiaconjose
            </a>
        </div>

        <div class="dropdown-divider w-50"></div>

        <div class="my-3">
        La ley obliga a informar sobre el uso cookies para mejorar la experiencia del usuario: Si continúa navegando consideramos que acepta su uso. Más información.
        </div>

    </div>
    
    
<!-- 
</div> -->