
<div class="container my-3 d-flex  justify-content-center">
    <img src="assets\imgs\foto3.png" class="m-4" style="width: 220px">
   </div>


   <!-- container-md  -->
   <div class="mx-lg-5 ">
<div class="conoceme container-md my-4 h5">



    <p>El objetivo de esta sección es que el lector interesado en la información que divulgo  conozca quien soy y a qué me dedico.
    </p>

    <p>
    En primer lugar, decidí formarme tanto en Educación Física como en entrenamiento personal. Actualmente imparto clases de Educación Física en colegios, divulgo evidencia científica sobre la actividad física y diseño programas de entrenamientos personalizados.
    </p>
    <p>
    Por deber o por afición, es difícil que pase una semana sin que revise los nuevos estudios y metaanálisis sobre entrenamiento, especialmente el orientado a la salud y rendimiento en la hipertrofia muscular. Puede ver algunas de las conclusiones que comparto a través de publicaciones en mi cuenta de Instagram.
    </p>
    <p>
    Aunque puedo decir que esa es mi formación permanente en este momento, aprender de doctores e investigadores que dedican su vida a distintos ámbitos de la actividad física me ayudó mucho, no solo a desarrollarme, también a ver la información con más escepticismo y de paso, abrir un poco la mente.
    </p>
    <p>
    Cursé el Máster de entrenamiento personal avalado por la 
    <span class="font-weight-bold">National Strength and Conditioning Association (NSCA)</span>, también dediqué mi tiempo al título de la <span class="font-weight-bold"> NSCA-CPT</span> (Certificación oficial de Entrenador Personal) y cursos universitarios de especialización por la Universidad Europea Miguel de Cervantes como son:
    </p>
    <span class="font-weight-bold">
    <p> 
    -Actividad Física para Salud y Poblaciones Especiales.
    </p>
    <p> 
    -Actividad Física para la Mejora del Rendimiento Deportivo.
    </p>
    <p> 
    -Entrenamiento Funcional.
    </p>
</span>
    <p>
    Todas las clases me parecieron útiles aunque pienso que algunas me sirvieron para desarrollarme mucho más, por ejemplo, clases sobre ámbitos en los que nunca me centré como puede ser la prevención de dolores que tiene el entrenamiento del core o sobre entrenamientos que ya tenía ignorados, como el entrenamiento de inestabilidad, el doctor Chulvi estuvo durante varias horas repasando la ciencia que rodea este tipo de entrenamiento.
    </p>
    <p>
    Aprendí mucho de rendimiento deportivo, prevención y readaptación de lesiones en la clínica de Phd. Manuel Garcia (doctor en medicina),  del manejo del estrés con Phd. Beatriz Crespo, de enfermedades metabólicas con Phd. Felipe Isidro y de otros temas con muchos buenos profesionales.
    </p>
    <p>
    A pesar de que estoy diariamente leyendo literatura científica sobre hipertrofia muscular, puedo decir que aprendí mucho con la experiencia del presidente de la NSCA España Phd. David García.
    </p>
    <p>
    La reducción de mortalidad y riesgos de enfermedad que logra la actividad física es otro tema que me interesa mucho. Clases como las del Phd. Fernando Martín sobre la reducción de riesgos de mortalidad por accidentes cardiovasculares sinceramente me impresionaron.
    </p>
    <p>
    Como cualquier persona que quiera estar formada en este ámbito, me saqué un título que le recomiendo a todo el mundo: <span class="font-weight-bold">Soporte Vital Básico y Desfibrilación Externa Automática (DEA).</span> Aunque lo primero que hay que hacer en caso de parada cardiorespiratoria es llamar al 112, este curso enseña a aplicar el algoritmo de resucitación cardiovascular mientras llega la ambulancia, aumentando las probabilidades de supervivencia.
    </p>
    <p>
    El título no es muy caro y este problema causa 700000 muertes anuales en Europa de las cuales muchas se podrían evitar. Los datos oficiales estiman que la aplicación del algoritmo da lugar a un 50-70% de supervivencia.
    </p>
    <!-- <p>
    Pienso que mi formación me ha ayudado a mejorar sobretodo el trabajo de valoración que tengo con mis clientes y sin esta evaluación previa sería imposible lograr el máximo rendimiento.
    </p> -->
    <p>
    Actualmente suelo leer los estudios más importantes sobre actividad física orientada a cualquier tipo de objetivo aunque dedico mi tiempo principalmente a la revisión de estudios relacionados con la salud y el rendimiento, especialmente a la ganancia muscular.
    </p>
    <p>
    <!-- Si quiere conocer mi trabajo,  -->
    Puede ponerse en contacto conmigo a través de mi correo o con un mensaje directo a mi cuenta de Instagram.
    </p>
</div>
</div>

<!-- <div class="my-1">
 <br>
</div> -->
