 
  <div class="d-flex flex-column flex-lg-row">

    <!-- d-flex align-items-center es para centrar verticalmente -->
    <!-- justify-content-center es para centrar horizontalmente -->
    <div class="d-flex align-items-center p-5  col-lg-6  fondo-negro">
      <!-- d-flex align-items-center   text-center  -->
        <span class="titulo text-white align-center text-left">
          <p class="h1"> Información para ganar músculo y mejorar su salud  </p>  
             <br>
            <p> Basado en evidencia científica</p>
        </span>

    </div>

    <div class="d-flex align-items-center  justify-content-center   col-lg-6 p-2 bg1"> <!-- bg1 para la imagen -->
     <!-- <div class="crop">
       <img src="assets\imgs\1280.png" class="w-50 m-4"> 
      </div>-->
    </div>
  
  </div>


<!-- EJEMPLO

<div class="contenedor">
  <img class="crop" src="assets\imgs\1280.png" />
</div>
 -->

<!-- EJEMPLO BOOTSTRAP
<img src="assets\imgs\1280p.png" class="img-fluid">-->

<!-- 
<div class="py-4 bg-dark h2">
    <div class="titulo text-center text-white">
    Basado en evidencia científica
    </div>
</div> -->

<br>
  
  <div class="container my-5 d-flex flex-column flex-lg-row">

    <!-- d-flex align-items-center es para centrar verticalmente -->
    <!-- justify-content-center es para centrar horizontalmente -->
    <div class="d-flex align-items-center   justify-content-center    col p-2"><img src="assets\imgs\foto3.png" class="w-50 m-4"></div>

    <div class="d-flex align-items-center  justify-content-center   col-lg-9 p-2 h5 espaciolineas">Me gusta leer y aplicar la literatura científica sobre el entrenamiento orientado al rendimiento (especialmente la ganancia muscular) y la salud.

      Puede ver más información sobre mi formación en la sección Conóceme. También puede ver las publicaciones de Instagram en mi cuenta @hipertrofiaconjose 
        <!-- o los diseños de programas de entrenamientos adaptados en la sección Programas de entrenamiento. -->
        <!-- comentado hasta que tenga esta página -->
    </div>
  
  </div>

  <br>

  <div class="container my-3 d-flex flex-column flex-lg-row     justify-content-center ">

    <!-- d-flex align-items-center es para centrar verticalmente -->
    <!-- justify-content-center es para centrar horizontalmente -->
    <div class="col-lg-4   card container shadow-lg      p-4 h5 espaciolineas mb-5">
     
      <span class=" d-flex justify-content-center font-weight-bold titulo h2">CIENCIA</span>
        <br>
        Basado en estudios y metaanálisis de los mejores investigadores como son Schoenfeld, Ogborn, Phillips y Contreras entre muchos otros.
        
    </div>

    <div class="col-lg-4    card container shadow-lg      p-4 h5 espaciolineas mb-5  mx-lg-5">

      <span class=" d-flex justify-content-center font-weight-bold titulo h2">MÚSCULO</span>
      <br>
      Máximo rendimiento en hipertrofia muscular optimizando las variables de entrenamiento.

    </div>

    <div class="col-lg-4     card container shadow-lg      p-4 h5 espaciolineas mb-5">

      <span class=" d-flex justify-content-center font-weight-bold titulo h2">SALUD</span>
      <br>
      
      La cantidad de tejido músculo-esquéletico y su activación se vincula con la salud en numerosos estudios.

    </div>
  
  </div>

  <br>



<div class="titulo py-5 fondo-negro h2">
    <div class="text-center text-white">
        Publicaciones de Instagram
    </div>
</div>


<div class="text-center my-5 h5 espaciolineas">
Puede ver la información que comparto a través de mi cuenta de Instagram
</div>

<div class="container">
<a href="https://www.instagram.com/hipertrofiaconjose/" target="_blank" class="btn btn-outline-dark btn-lg btn-block " >
  IR A PUBLICACIONES DE INSTAGRAM
</a>
</div>

<div class="my-3">
<br>
</div>

<!--
<div class="container">

 <div class="card container shadow my-5 p-4 py-lg-5">
    !-- <div class="card-body"> --
      <h5 class="card-title titulo text-center">PROGRAMAS DE ENTRENAMIENTO</h5>
      <p class="card-text text-center">Valoro tu caso para lograr una mayor efectividad.</p>
      <div class="text-center">
        <button type="button" class="btn btn-danger">PLAZAS COMPLETAS</button> </div>
        !-- Quito el href del botón, menos molesto para el usuario que recargar la página -->
    <!-- </div> --
  </div>

</div> -->
 
  
  


