.bg1{

    height: 100vh;
    width: 100vw;
    background-image: url("src\assets\imgs\1280.png");
    background-size: cover;
/* 
    float:left;
    /* margin:.5em 10px .5em 0; 
    margin-right: 200px;
	overflow:hidden; this is important */

   

}
/* 
.crop{
	float:left;
	/* margin:.5em 10px .5em 0; 
	overflow:hidden; /* this is important 
	position:relative; /* this is important too */
	/* border:1px solid #ccc; 
	width:1050px;
	height:500px;
	}
.crop img{

    width:100%;
    height: 100%;

	position:absolute;
	top:-5%;
    /* left:-10%; 
    right: -1%;
    } */
    
.enlace{
    color: blueviolet;
}

.fondo-negro{
    color:#000000;
}