
<div class="d-none d-sm-block container display-4 titulosobreblanco text-center my-5 ">
  <div class="my-3">
    <br>
    </div>
    Artículos.
    <div class="my-3">
      <br>
      </div>
</div>

<div class="d-block d-sm-none container h1 titulosobreblanco text-center my-5 ">
  <div class="my-3">
    <br>
    </div>
  Artículos.
  <div class="my-3">
    <br>
    </div>
</div>

<div class="mx-lg-5 d-flex flex-column flex-lg-row justify-content-around">

<div class="card container shadow my-3 mx-lg-4 p-1">  <!--  style="width: 20rem;" -->

         <div class="efectoportada">
              <img src="assets\imgs\portadaart1.png" class="card-img-top image" alt="...">
              <div class="middle">
              <div class="ir"><i class="display-4 fas fa-search ir"></i></div>
              </div>
         </div>

    <div class="card-body">
      <h5 class="card-title">
        
        <a class="h2 titulo enlacetitulo" [routerLink]="['/tejidomuscular']">La importancia de ganar tejido muscular y conservarlo</a>
        
      
      </h5>
      <p class="card-text">La importancia de ganar tejido muscular y conservarlo   1. ¿Conoces tus músculos? En la industria del fitness se suele prestar mucha más atención a quemar grasa o estar delgados que a tener un mínimo de masa muscular. Cuando pensamos en músculos,...</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>


  <div class="card container shadow my-3 mx-lg-4 p-1" >   <!--  style="width: 20rem;" -->
    <div class="efectoportada">
    <img src="assets\imgs\portadaart2.png" class="card-img-top image" alt="...">
    <div class="middle">
      <div class="ir"><i class="display-4 fas fa-search ir"></i></div>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">
        

        <a class="h2 titulo enlacetitulo" [routerLink]="['/oclusion']">Entrenamiento con oclusión. Tu guía completa.</a>
        
      </h5>
      <p class="card-text"> Imagen: archivos de Bret Contreras. Entrenamiento con oclusión. Tu guía completa.   ¿Puedes lograr con pesos muy ligeros resultados prácticamente iguales a los que tienes con entrenamientos pesados en el gimnasio? Año 1960, se especulaba distintas formas de...</p>
      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
    </div>
  </div>

  </div>


<!-- Segundo bloque -->
<!--   
<div class="container my-5 d-flex flex-column flex-lg-row justify-content-center">

    <div class="card container my-3 mx-lg-4 p-1" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
    
      <div class="card container my-3 mx-lg-4 p-1" style="width: 20rem;">
        <img src="..." class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    
      </div> -->

      <div class="my-3">
        <br>
      </div>